html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $font-main;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-tundora;
  background-color: $color-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
