/* font */

$font-main: "Oswald", arial, helvetica, sans-serif;
$font-secondary: arial, helvetica, sans-serif;

$font-size: 14px;
$font-size-small: 12px;
$font-size-larger: 16px;
$font-size-large: 20px;
$font-size-largest: 24px;
$font-size-gigantic: 36px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$line-height: 18px;
$line-height-larger: 20px;
$line-height-gigantic: 60px;

/* colors */
$color-dark: #111111;
$color-accent: #68b738;
$color-accent-dark: #5eaa2f;

$color-white: #ffffff;
$color-mercury: #e6e6e6;
$color-concrete: #f2f2f2;
$color-alto: #d9d9d9;
$color-tundora: #444444;
